{% load static %}

  <aside class="left-sidebar scrollable ps-container ps-theme-default ps-active-y" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">
                        
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'dashboard' %}" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                        <!-- <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'questionnaire' %}" aria-expanded="false"><i class="mdi mdi-note"></i><span class="hide-menu">Questionnaire</span></a></li> -->
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'reports' %}" aria-expanded="false"><i class="mdi mdi-note"></i><span class="hide-menu">Questionnaire Reports</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'charts' %}" aria-expanded="false"><i class="mdi mdi-chart-line"></i><span class="hide-menu">charts</span></a></li>
                        
                        
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-setting"></i><span class="hide-menu">Manage</span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="{% url 'users' %}" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Users </span></a></li>
                                <li class="sidebar-item"><a href="{% url 'users' %}" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Designations </span></a></li>
                                 <li class="sidebar-item"><a href="{% url 'users' %}" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Facilities</span></a></li>
                            </ul>
                        </li>
                      
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>